body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.results {
  max-width: 60%;
  display: block;
  padding-top: 30px;
  text-align: center;
  margin: auto;
}

.search-box {
  display: inline-block;
  padding-top: 30px;
  max-width: 60%;
}

.nasaImage {
  width: 300px;
  margin-bottom: 5px;
}
